/*
colors:
navy #222e61
orange #c54325
gray #c3c3c4
black #oc1424
white snow
*/

/*this stuff is for each individual section*/

.container {
    background-color: snow;
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 2fr 5fr 4fr 1fr;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "images-row images-row images-row images-row"
    "description description team team"
    "footer footer footer footer";
}

.wolfgang {
    background-color: snow;
    font-family: "Orbitron";
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 2fr 9fr 1fr;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "wolf-desc wolf-desc awards picture"
    "footer footer footer footer";
}

.header {
    grid-area: header;
    text-align: center;
    font-size: 48px;
    font-family: "Orbitron";
    font-weight: bold;
    img {
        width: 200px;
    }
}

.regular {
    float: left;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float: right;
}

.nav {
    grid-area: nav;
    text-align: center;
    font-family: "Orbitron";
    font-weight: bold;
    padding-bottom: 20px;
}

.images-row {
    grid-area: images-row;
    font-family: "Orbitron";
    font-weight: bold;
    img {
        width: 400px;
    }
}

.description {
    grid-area: description;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 80px;
    border: 5px solid #c54325;
    border-radius: 25px;
    padding: 5px;
}

.wolf-desc {
    grid-area: wolf-desc;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    line-height: 40px;
    border: 5px solid #c54325;
    border-radius: 25px;
}

.team {
    grid-area: team;
    padding: 10px;
}

.picture {
    grid-area: picture;
    padding: 20px;
    img {
        height: 500px;
        border-radius: 50px;
    }
}

.awards {
    grid-area: awards;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

.footer {
    grid-area: footer;
    text-align: center;
    font-family: "Orbitron";
    font-weight: bold;
    padding: 5px;
}

/*table stuff*/

table {
    border: 5px solid #c54325;
    border-radius: 25px;
}

th, td {
    padding: 10px;
}

.table-title {
    font-size: 40px;
}

/*card css*/

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card{
    width: 375px;
    height: 500px;
    position: relative;
    background: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    transition: all .3s ease-in;
}
.card > *{
    padding: 10px;
}
.card .card-image{
    height: 300px;
    width: 300px;
    border: 5px double #c54325;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;    
}
.card .card-title{
    padding: 20px 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: #c54325;
    text-shadow: 1px 0px 2px #262654;
    text-align: center;
    a {
        color: #c54325;
    }
}
.card:nth-child(1) .card-image{
    background-image: url(images/wolfgang.png);
}
.card:nth-child(2) .card-image{
    background-image: url(images/raiju.png);
}
.card:nth-child(3) .card-image{
    background-image: url(images/hachiko.png);
}

.card:hover{
    background: #222e61;
    color: snow;
    box-shadow: 0px 0px 11px 5px snow;
}

.card .card-text{
    line-height: 20px;
    font-size: 30px;
}

/*stuff to make the nav look like a bar*/

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222e61;
    border-radius: 20px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: snow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #c54325;
  }